<h2>Admin panel</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" id="Home" asp-controller="Admin" asp-action="Index">Admin</a></li>
                <li class="nav-item"><a class="nav-link" id="Users" asp-controller="Admin" asp-action="Users">Users</a></li>
                <li class="nav-item"><a class="nav-link" id="Roles" asp-controller="Admin" asp-action="Roles">Roles</a></li>
                <li class="nav-item"><a class="nav-link" id="FAQ" asp-controller="Admin" asp-action="FAQ">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" id="Artiekelen" asp-controller="Article" asp-action="Index">Articles</a></li>
                <li class="nav-item"><a class="nav-link" id="Newsletters" asp-controller="NewsletterAdmin" asp-action="Index">Newsletters</a></li>
            </ul>
        </div>
    </div>
</div>